.city-selector-container{
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}


.citys-selector-button {
  border: 2px solid #19376D;
  border-radius: 10px;
  color: #19376D;
  font-size: medium;
  background-color: #fff;
  width: fit-content;
  margin: 3px;
}

.citys-selector-button:hover {
  background-color: #19376D;
  border: 2px solid #fff;
  color: #fff;

}

.city-selector-button-container {
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
}

.city-selector-header {
  display: flex;
  font-size: medium;
  font-weight: normal;
  color: #19376D;
  border-radius: 5%;
  width: fit-content;
  padding-left: 5px;
}
